.root {
    display: flex;
}

.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: 1px solid teal;

    cursor: pointer;
}

.active {
    background-color: cadetblue;
}
